{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonials</title>
    <!-- Link to Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEJ6D5d4B+1u0eA6q+OHQ3h6S+r95t90fiOD4FQMjZ2XPa2Kz7w2Sfqy5vlkX" crossorigin="anonymous">
    <!-- Your custom CSS -->
   <link href="{% static 'assets/css/test.css' %}" rel="stylesheet">
</head>
<body>
     <div class="heading-container">
    <h2>Testimonials</h2>
     </div>

       <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="testimonial-item">
              <img src="{% static 'assets/img/testimonials/testimonials.chao.png' %}" class="testimonial-img" alt="">
              <h3>Chao Shalet</h3>
              <h4>Ceo &amp; Founder</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>At HolyHub, we empower individuals and strengthen networks by providing innovative solutions that improve church and community engagement.
                    We're committed to supporting the spiritual and practical needs of today’s church members.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="testimonial-item">
              <img src="{% static 'assets/img/testimonials/testimonials.cha.png' %}"class="testimonial-img" alt="">
              <h3>Kaguru Stanley</h3>
              <h4>Developer</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>As a developer at HolyHub, I'm dedicated to building innovative solutions that enhance church management and foster community engagement. Our goal is to create seamless,
                    user-friendly experiences that support spiritual growth.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="testimonial-item">
              <img src="{% static 'assets/img/testimonials/testimonials.cho.png' %}" class="testimonial-img" alt="">
              <h3>Muthuri wa Mburi</h3>
              <h4>Koinonia founder</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Thank you for your exceptional service and innovative solutions.
                    Your platform has greatly enhanced our community engagement and supported Koinonia’s growth.
                    We look forward to continued success together.
                </span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="testimonial-item">
              <img src="{% static 'assets/img/testimonials/testimonials.ch.png' %}" class="testimonial-img" alt="">
              <h3>Kelvin Ng'ang'a</h3>
              <h4>Apostolic Church Founder</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>
                    Thank you for your outstanding support.
                    Your platform has significantly strengthened our community and enhanced engagement
                    within the Apostolic Church. We are excited about our continued partnership.
                </span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
            <div class="testimonial-item">
              <img src="{% static 'assets/img/testimonials/testimonials.cha.png' %}" class="testimonial-img" alt="">
              <h3>Mutoi Muriuki</h3>
              <h4>Member</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>I’m grateful for HolyHub’s impact on our church community.
                    The platform has truly enhanced our connection, making it easier to stay engaged,
                    share prayers, and grow together in faith.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="600">
            <div class="testimonial-item">
              <img src="{% static 'assets/img/testimonials/testimonials.cha.png' %}"class="testimonial-img" alt="">
              <h3>Emily Harison</h3>
              <h4>Graphic designer</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>As a graphic designer, I appreciate HolyHub’s seamless design and user-friendly interface. It’s been a pleasure creating visuals for such
                    an innovative platform that supports faith and community engagement.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybBqPaK2tO4X1p8B5OTsbMG6l7xj7Rm3Jk5cP4FkvpV5jW5YdM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqBdVf94aR2+4S1pT0F5wFHzG4Do7N/KxqUw5TYKjPpXw" crossorigin="anonymous"></script>

      <a href="{% url 'Members:index' %}" class="btn btn-secondary">Back to Home</a>

</body>


</html>
