{% extends "member/base.html" %}
{% load static %}

    <link rel="icon" type="image/png" href="{% static 'assets/img/logo.png' %}">
    <link rel="apple-touch-icon" type="image/png" href="{% static 'assets/img/logo.png' %}">

{% block title %}Holy Hub - Login{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'assets/css/form.css' %}" type="text/css">
{% endblock style %}
{% block current-page %}Login{% endblock current-page %}

{% block content %}
    <div class="container">
        <div class="margin-container">
           <h2>HolyHub</h2>
         <link rel="icon" type="image/png" href="{% static 'assets/img/logo.png' %}">
            <form method="post" class="form">
                {% csrf_token %}

                <!-- Display form errors if any -->
                {% for err in form.non_field_errors %}
                    <p class="error-text">{{ err }}</p>
                {% endfor %}

                <!-- Username Field -->
                <label for="id_username">{{ form.username.label }}</label>
                {{ form.username }}

                <!-- Password Field -->
                <label for="id_password">{{ form.password.label }}</label>
            <div>
                {{ form.password }}
                <input type="checkbox" onclick="togglePassword('id_password')">Show Password
            </div>

            <script>
            function togglePassword(fieldId) {
                var field = document.getElementById(fieldId);
                if (field.type === "password") {
                    field.type = "text";
                } else {
                    field.type = "password";
                }
            }
            </script>

                <!-- Submit Button -->
                <input type="submit" value="Login" class="action">

                <!-- Redirect to Register Link -->
                <p>Not a member? <a class="blue-link" href="{% url 'Members:register' %}">Register</a></p>
                <p><a class="blue-link" href="{% url 'Members:password_reset' %}">Forgot Password?</a></p>
            </form>
        </div>
    </div>
{% endblock content %}
