{% extends "member/base.html" %}
{% load static %}

{% block title %}Password Reset{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'assets/css/form.css' %}" type="text/css">
{% endblock style %}
{% block current-page %}Password Reset{% endblock current-page %}

{% block content %}
    <div class="container">
        <div class="margin-container">
            <h2>Reset Your Password</h2>
            <form method="post" class="form">
                {% csrf_token %}

                <div class="form-group">
                    <label for="id_email">{{ form.email.label }}</label>
                    {{ form.email }}
                    {% for error in form.email.errors %}
                        <p class="error-text">{{ error }}</p>
                    {% endfor %}
                </div>

                <input type="submit" value="Send Password Reset Link" class="action">

                <p>Remember your password? <a class="blue-link" href="{% url 'Members:login' %}">Login</a></p>
            </form>
        </div>
    </div>
{% endblock content %}
