{% extends "member/base.html" %}
{% load static %}

{% block title %}Holy Hub -Set a New Password{% endblock %}

{% block content %}
    <link href="{% static 'assets/css/event_form.css' %}" rel="stylesheet">
    <div class="container mt-5">
        <h2 class="text-center mb-4">Set a New Password</h2>
        <form method="POST" class="w-50 mx-auto">
            {% csrf_token %}
            <div class="mb-3">
                <label for="new_password" class="form-label">New Password:</label>
                <input type="password" name="new_password" id="new_password" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirm New Password:</label>
                <input type="password" name="confirm_password" id="confirm_password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Update Password</button>
        </form>

        {% if form.errors %}
            <div class="mt-3 alert alert-danger">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
