{% extends "member/base.html" %}
{% load static %}

{% block title %}Password Reset Successful{% endblock %}

{% block content %}
    <link href="{% static 'assets/css/event_form.css' %}" rel="stylesheet">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h2 class="mb-4 text-success">Password Reset Successful!</h2>
                <p>Your password has been successfully updated.</p>
                <p class="mb-4">Click the link below to log in:</p>
                <a href="{% url 'Members:login' %}" class="btn btn-primary btn-lg">Go to Login</a>
            </div>
        </div>
    </div>
{% endblock %}
