{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Attendance for {{ event.title }}</title>


    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/confirm.css' %}" rel="stylesheet"> <!-- Custom CSS -->
</head>
<body style="background-color: #f0f8ff;">

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-lg">
                    <div class="card-header text-center bg-primary text-white">
                        <h2>Confirm Attendance for <strong>{{ event.title }}</strong></h2>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name">Name</label>
                                {{ form.name }}
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                <label for="event">Event</label>
                                {{ form.event }}
                            </div>

                            <button type="submit" class="btn btn-primary btn-block mt-4">Confirm Attendance</button>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'events:attendees' %}" class="btn btn-outline-secondary">Back to Attendees</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
