{% extends "member/base.html" %}


{% load static %}


{% block title %}Register{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'assets/css/form.css' %}" type="text/css">
{% endblock style %}

{% block current-page %}Register{% endblock current-page %}

{% block content %}
<div class="container">
    <div class="margin-container">
        <h2>Register for Holy Hub</h2>

        {% if messages %}
            <div class="alert">
                {% for message in messages %}
                    <p class="message">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

       <form action="{% url 'Members:register' %}" method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}

            {% for err in form.non_field_errors %}
                <p class="error-text">{{ err }}</p>
            {% endfor %}

            <label for="id_username">{{ form.username.label }}</label>
            {{ form.username }}

            <label for="id_email">{{ form.email.label }}</label>
            {{ form.email }}

            <label for="id_password1">{{ form.password1.label }}</label>
            {{ form.password1 }}

            <label for="id_password2">{{ form.password2.label }}</label>
            {{ form.password2 }}

            <label for="id_first_name">{{ form.first_name.label }}</label>
            {{ form.first_name }}

            <label for="id_last_name">{{ form.last_name.label }}</label>
            {{ form.last_name }}

            <label for="id_phone_number">{{ form.phone_number.label }}</label>
            {{ form.phone_number }}


            <label for="id_image">{{ form.image.label }}</label>
            {{ form.image }}

            <input type="submit" value="Register" class="action">
        </form>
    </div>
</div>
{% endblock content %}
